/* Images */

img {
    display: block;
    max-width: 100%;
}

/* Navigation */

.nav__logo {
    height: 5em;
    margin-bottom: 1.4em;
}

.main-nav__options {
    margin-bottom: .5em;
    li {
        a {
            text-decoration: none;
            display: block;
            padding: .7em .8em;
            color: $green-dk;
        }
        &:last-child a {
            color: $background;
        }
        i {
            margin-left: .5em;
        }
    }
}

a.nav__button {
    text-decoration: none;
    display: block;
    padding: .8em;
    background-color: $green-md;
    border-radius: .3em;
    min-width: 8em;
    text-align: center;
}

/* Header */

.main-header {
    background: linear-gradient(rgba(21, 20, 20, 0), rgba(21, 20, 20, 1)), url(../images/cat-02.jpg);
    background-size: cover;
    background-position: center right;
}

a.header__button {
    text-decoration: none;
    display: block;
    padding: 1em .8em;
    background-color: lighten($green-lt, 10%);
    color: $black;
    font-weight: 700;
    font-size: 1.1em;
    border-radius: .3em;
    width: 12em;
    text-align: center;
}

.header__strapline {
    h1 {
        color: $white;
    }
}

/* News */

.help__item {
    padding: 1em;
    position: relative;
    h3 {
        background-color: $green-dk;
        color: $white;
        padding: .3em .5em;
        margin-bottom: -.5em;
        position: absolute;
        top: 0;
        left: 0;
        letter-spacing: .03em;
        box-shadow: 1px 1px 5px transparentize($black, .5);
    }
}

.help__img {
    margin-bottom: 1em;
    img {
        border-radius: .6em;
    }
}

a.news__button {
    margin: 0 auto;
    text-decoration: none;
    display: block;
    padding: .6em;
    color: darken($background, 65%);
    background-color: darken($background, 20%);
    font-weight: 700;
    border-radius: .3em;
    width: 12em;
    text-align: center;
    i {
        margin-left: .5em;
    }
}

/* Shop */

.shop {
    border-top: 1px solid $color2;
    border-bottom: 1px solid $color2;
}

.shop__row {
    background-color: $color3;
}

.shop__text {
    background-color: $color3;
    padding: 2em;
}

.shop__image {
    background-image: url(../images/shop-01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}