/* Images */

img {
    display: block;
    max-width: 100%;
}

/* Navigation */

.nav__logo {
    height: 5em;
    margin-bottom: 1.4em;
}

.main-nav__options {
    margin-bottom: .5em;
    li {
        a {
            text-decoration: none;
            display: block;
            padding: .7em .8em;
            color: $green-dk;
            font-weight: 700;
        }
        &:last-child a {
            color: $background;
            font-weight: 400;
        }
        i {
            margin-left: .5em;
        }
    }
}

a.nav__button {
    text-decoration: none;
    display: block;
    padding: .8em;
    background: linear-gradient(165deg, $green-md, $green-dk 90%);
    border-radius: .3em;
    min-width: 8em;
    text-align: center;
}

/* Header */

.main-header {
    background: linear-gradient(rgba(21, 20, 20, 0), rgba(21, 20, 20, 1)), url(../images/cat-02.jpg);
    background-size: cover;
    background-position: center right;
}

a.header__button {
    text-decoration: none;
    display: block;
    padding: 1em .8em;
    background: linear-gradient(170deg, lighten($green-lt, 20%), $green-lt 70%);
    color: $black;
    font-weight: 700;
    font-size: 1.1em;
    border-radius: .3em;
    width: 12em;
    text-align: center;
}

.header__strapline {
    h1 {
        color: $white;
    }
}

/* Help */

.help__options {
    padding-top: 2em;
}

.help__item {
    padding: 2em;
    position: relative;
    background-color: darken($background, 15%);
    border: 1px solid darken($background, 25%);
    border-radius: 1em;
    h3 {
        background-color: desaturate($green-lt, 20%);
        color: $background;
        border-radius: .2em;
        padding: .3em .5em;
        position: absolute;
        margin: -1em -.5em;
        top: 0;
        left: 0;
        letter-spacing: .04em;
    }
}

.help__img {
    margin-bottom: 1em;
    img {
        border-radius: .6em;
    }
}

a.help__button {
    margin: 0 auto;
    text-decoration: none;
    display: block;
    padding: .6em;
    color: $background;
    background: linear-gradient(165deg, $green-md, $green-dk 90%);
    border-radius: .3em;
    width: 12em;
    text-align: center;
    i {
        margin-left: .5em;
    }
}

/* News */

.news__wrapper {
    background-color: lighten($background, 5%);
    border: 1px solid darken($background, 10%);
    h1 {
        border-bottom: 2px solid $green-lt;
        margin-bottom: .8em;
        padding-bottom: .2em;
    }
}

.news a {
    color: $green-md;
    &:focus, &:hover, &:active, &:visited {
        ccolor: $green-md;
    }
}

a.news__button {
    text-decoration: none;
    display: block;
    padding: .6em;
    color: $black;
    background: linear-gradient(175deg, lighten($green-lt, 20%), $green-lt 70%);
    font-weight: 700;
    border-radius: .3em;
    width: 12em;
    text-align: center;
    margin-top: 2em;
    i {
        margin-left: .5em;
    }
}

/* Shop */

.shop {
    background-color: darken($background, 25%);
    border-top: 1px solid darken($background, 30%);
    a, a:focus, a:hover, a:visited, a:active {
        color: $green-md;
    }
    h1 {
        text-shadow: 1px 1px 20px $white;
    }
    h3 {
        color: $green-md;
    }
}

.shop__row {
    background-color: darken($background, 15%);
}

.shop__text {
    background-color: darken($background, 15%);
    padding: 2em;
}

.shop__image {
    background-image: url(../images/shop-01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* Footer */

.main-footer {
    background-color: $black;
    color: desaturate($green-lt, 20%);
}