$color1: #78868B;
$color2: #41484B;
$color3: #AFC4CB;
$color4: #CFE8F0;
$color5: #99ABB1;

$background: #f2efda;

$green-dk: #284233;
$green-md: #3f7548;
$green-lt: #8a994a;

$black: #151414;
$white: #F7F9FA;