@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "susy";

$susy: (
    columns: 12,
    container: 1200px,
    gutters: 0.4,
    global-box-sizing: border-box
);

@import "variables";
@import "mixins";
@import "layout";
@import "typography";
@import "components";

*, html {
    box-sizing: border-box;
}

body {
    background-color: $background;
}

.main-header {
    background-color: $color1;
}


